body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('https://images.unsplash.com/photo-1616763880410-744958efc093?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80');
background-repeat: repeat;
background-attachment: fixed;
}

h1, a{
    color: whitesmoke;
    
}

img{
    margin-top: 10px;
    width: 400px;
}

#thirdDiv{
    max-height: 600px;
    max-width: 500px;
    background-color: #A9BCF5;
    padding: 50px;
   
}

#spanId{
    margin: 50px;;
    font-size: 18px;
}

